@import "~bulma"

$lightGrey: #dedede
$darkGrey: #555
$brandColor: #00d1b2
$fontSize: 14px

.subtitle
  font-weight: 300
  margin-bottom: 50px

.navbar
  input.search
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    border: none
    border-bottom: 1px solid transparent
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    text-align: center

    &:focus
      border-bottom: 1px solid $brandColor

  .nav-item
    padding: 1rem 0.75rem

    &.brand
      padding-left: 20px

  a.is-brand
    font-size: 100%
    color: $darkGrey

@media screen and (min-width: 320px)
  .col
    width: 100%

@media (min-width: 600px)
  .col
    width: 47%

@media (min-width: 830px)
    .col
      width: 31%

.col
  display: inline-block
  padding: 10px
  margin: 0 1% 10px

.card
  padding: 10px 10px
  background: #fff
  box-shadow: none
  margin-bottom: 20px

  img
    width: 100%

.img.card
  background: no-repeat 50% 50%
  background-size: cover
  height: 300px

.spinner-container
  padding: 100px 0 90px
  text-align: center

  & > *
    font-size: 50px